<h2>Detail Page</h2>
<hr>

<h3> {{ todo.name }} </h3>
<a href="/todos/{{ todo._id }}/edit">Edit</a>
<form action="/todos/{{ todo._id }}/delete" method="post" style="display: inline;">
  <button type="submit">Delete</button>
</form>

<a href="/">Back</a>
