<h2>Index Page</h2>
<hr>

<a href="/todos/create">Create</a>
<ul>
  {{#each todos}}
  <li>
    {{ this.name }}
    <a href="/todos/{{ this._id }}">detail</a>
    <a href="/todos/{{ this._id }}/edit">edit</a>
  </li>

  {{/each}}
</ul>
